*
{
margin:0;
padding:0;
box-sizing: border-box;
}

body
{
 font-size:20px;
 font-family: fantasy;
 text-align: justify;
}
h1,h2
{   background-color: forestgreen;
    color: #cbcb73;
    font-family: sans-serif;
 }

h1
{
    font-size: 100px;
    margin-bottom: 50px;
}

h2
{
    font-size: 40px;
    margin-bottom: 30px;
}

.mainpara
{
    font-size:25px;
    font-family:fantasy;
     margin-bottom: 10 px;
}